@charset "UTF-8";
/*!
 * Marp / Marpit Gaia theme
 * Customized version for non-coders
 *
 * @theme gaia_gd_noncode
 * @author hann-solo
 *
 * @auto-scaling true
 * @size 4:3 960px 720px
 */
@import url("https://fonts.googleapis.com/css?family=Lato:400,900|Roboto+Mono:400,700&display=swap");
@import '~highlight.js/styles/sunburst';
svg[data-marp-fitting='svg'] {
  max-height: 580px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0 0 0; }
  h1 strong,
  h2 strong,
  h3 strong,
  h4 strong,
  h5 strong,
  h6 strong {
    font-weight: inherit; }

h1 {
  font-feature-settings: "palt";
  font-size: 2rem;
  line-height: calc(0.25rem * 12); }
  /* font-size: 1.8em; } */

h2 {
  font-feature-settings: "palt";
  font-size: 1.75rem;
  line-height: calc(0.25rem * 11); }
  /* font-size: 1.5em; } */

h3 {
  font-feature-settings: "palt";
  font-size: 1.5rem;
  line-height: calc(0.25rem * 9); }
  /* font-size: 1.3em; } */

h4 {
  font-feature-settings: "palt";
  font-size: 1.3125rem;
  line-height: calc(0.25rem * 8); }
  /* font-size: 1.1em; } */

h5 {
  font-feature-settings: "palt";
  font-size: 1.125rem;
  line-height: calc(0.25rem * 7); }
  /* font-size: 1em; } */

h6 {
  font-feature-settings: "palt";
  font-size: 0.875rem;
  line-height: calc(0.25rem * 5); }
  /* font-size: 0.9em; } */

p,
blockquote {
  font-size: 1rem;
  line-height: calc(0.25rem * 6); }
  /* margin: 1em 0 0 0; } */


/* 段落間のバーティカルリズム */
* + h2 {
  margin-top: calc(0.25rem * 6); }

* + h3 {
  margin-top: calc(0.25rem * 5); }

* + h4 {
  margin-top: calc(0.25rem * 4); }

* + h5 {
  margin-top: calc(0.25rem * 3); }

* + h6 {
  margin-top: calc(0.25rem * 2); }

* + p {
margin-top: calc(0.25rem * 1); }


ul > li,
ol > li {
  margin: 0.3em 0 0 0; }
  ul > li > p,
  ol > li > p {
    margin: 0.6em 0 0 0; }

code { 
  display: inline-block;
  /* font-family: 'Roboto Mono', monospace; */
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  /* font-size: 0.8em; */
  font-size: 1.0em;
  letter-spacing: 0;
  margin: -0.1em 0.15em;
  padding: 0.1em 0.2em;
  vertical-align: baseline; }

pre {
  display: block;
  margin: 1em 0 0 0;
  min-height: 1em;
  overflow: visible; }
  pre code {
    box-sizing: border-box;
    margin: 0;
    min-width: 100%;
    padding: 0.5em;
    /* font-size: 0.7em; } */
    font-size: 1.0em; }
    pre code svg[data-marp-fitting='svg'] {
      max-height: calc(580px - 1em); }

blockquote {
  margin: 1em 0 0 0;
  padding: 0 1em;
  position: relative; }
  /* blockquote::after, blockquote::before { */
  blockquote::before {
      /* content: '“'; */
    content: '>';
    display: block;
    font-family: 'Times New Roman', serif;
    /* font-family: "Hiragino Kaku Gothic ProN", sans-serif; */
    font-weight: bold;
    position: absolute; }
  blockquote::before {
    top: 0;
    left: 0; }
  /* blockquote::after {
    right: 0;
    bottom: 0;
    transform: rotate(180deg); } */
  blockquote > *:first-child {
    margin-top: 0; }

mark {
  background: transparent; }

table {
  border-spacing: 0;
  border-collapse: collapse;
  margin: 1em 0 0 0; }
  table th,
  table td {
    padding: 0.2em 0.4em;
    border-width: 1px;
    border-style: solid; }

section {
  background-image: linear-gradient(135deg, rgba(136, 136, 136, 0), rgba(136, 136, 136, 0.02) 50%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.05));
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
  font-size: 32px;
  height: 720px;
  line-height: 1.35;
  letter-spacing: 1.25px;
  padding: 70px;
  width: 1280px;
  word-wrap: break-word;
  color: #183B68;
  background-color: #FFFFFF; }
  section > *:first-child,
  section > header:first-child + * {
    margin-top: 0; }
  section a,
  section mark {
    color: #DF6561; } /* modified manually*/
  section code {
    /* background: #466286; */
    background: #DFECF6;
    /* color: #FFFFFF; } */
    color: #183B68; }
    section h1 strong,
  section h2 strong,
  section h3 strong,
  section h4 strong,
  section h5 strong,
  section h6 strong {
    color: #2962AD; }
  section pre > code {
    border-radius: 5px;
    /* background: #183B68; } */
    /* background: #A3C6E5; } */
    background: #DFECF6; }
  /* section header,
  section footer,
  section section::after,
  section blockquote::before,
  section blockquote::after {
    color: #466286; } */
  section header,
  section footer,
  section section::after {
    color: #466286; }
  section blockquote,
  section blockquote::before,
  section blockquote::after {
    background: #DF656120;
    color: #466286; }
    section table th,
  section table td {
    border-color: #183B68; }
  section table thead th {
    background: #183B68;
    color: #FFFFFF; }
  section table tbody > tr:nth-child(odd) td,
  section table tbody > tr:nth-child(odd) th {
    background: rgba(24, 59, 104, 0.1); }
  section.invert {
    color: #FFFFFF;
    background-color: #183B68; }
    section.invert a,
    section.invert mark {
      color: #DF6561; }
    section.invert code {
      background: #d1d8e1;
      color: #183B68; }
    section.invert h1 strong,
    section.invert h2 strong,
    section.invert h3 strong,
    section.invert h4 strong,
    section.invert h5 strong,
    section.invert h6 strong {
      color: #DF6561; }
    section.invert pre > code {
      background: #FFFFFF; }
    section.invert header,
    section.invert footer,
    section.invert section::after,
    section.invert blockquote::before,
    section.invert blockquote::after {
      color: #d1d8e1; }
    section.invert table th,
    section.invert table td {
      border-color: #FFFFFF; }
    section.invert table thead th {
      background: #FFFFFF;
      color: #183B68; }
    section.invert table tbody > tr:nth-child(odd) td,
    section.invert table tbody > tr:nth-child(odd) th {
      background: rgba(255, 255, 255, 0.1); }
  section.gaia {
    color: #FFFFFF;
    background-color: #2962AD; }
    section.gaia a,
    section.gaia mark {
      color: #DF6561; }
    section.gaia code {
      background: #d4e0ef;
      color: #2962AD; }
    section.gaia h1 strong,
    section.gaia h2 strong,
    section.gaia h3 strong,
    section.gaia h4 strong,
    section.gaia h5 strong,
    section.gaia h6 strong {
      color: #DF6561; }
    section.gaia pre > code {
      background: #FFFFFF; }
    section.gaia header,
    section.gaia footer,
    section.gaia section::after,
    section.gaia blockquote::before,
    section.gaia blockquote::after {
      color: #d4e0ef; }
    section.gaia table th,
    section.gaia table td {
      border-color: #FFFFFF; }
    section.gaia table thead th {
      background: #FFFFFF;
      color: #2962AD; }
    section.gaia table tbody > tr:nth-child(odd) td,
    section.gaia table tbody > tr:nth-child(odd) th {
      background: rgba(255, 255, 255, 0.1); }
  section.lead {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center; }
    section.lead h1,
    section.lead h2,
    section.lead h3,
    section.lead h4,
    section.lead h5,
    section.lead h6 {
      text-align: center; }
      section.lead h1 svg[data-marp-fitting='svg'],
      section.lead h2 svg[data-marp-fitting='svg'],
      section.lead h3 svg[data-marp-fitting='svg'],
      section.lead h4 svg[data-marp-fitting='svg'],
      section.lead h5 svg[data-marp-fitting='svg'],
      section.lead h6 svg[data-marp-fitting='svg'] {
        --preserve-aspect-ratio: xMidYMid meet; }
    section.lead p {
      text-align: center; }
    section.lead blockquote > h1,
    section.lead blockquote > h2,
    section.lead blockquote > h3,
    section.lead blockquote > h4,
    section.lead blockquote > h5,
    section.lead blockquote > h6,
    section.lead blockquote > p {
      text-align: left; }
    section.lead blockquote svg[data-marp-fitting='svg']:not([data-marp-fitting-math]) {
      --preserve-aspect-ratio: xMinYMin meet; }
    section.lead ul > li > p,
    section.lead ol > li > p {
      text-align: left; }
    section.lead table {
      margin-left: auto;
      margin-right: auto; }
    section.inside-title {
        background-color: #A3C6E5; }
    section.FYR {
        background-color: #DFECF6; }
    section.FYR code {
      background: #d1d8e1;
      color: #2962AD; }

header,
footer,
section::after {
  box-sizing: border-box;
  font-size: 66%;
  height: 70px;
  line-height: 50px;
  overflow: hidden;
  padding: 10px 25px;
  position: absolute; }

header {
  left: 0;
  right: 0;
  top: 0; }

footer {
  left: 0;
  right: 0;
  bottom: 0; }

section::after {
  right: 0;
  bottom: 0;
  font-size: 80%; }

/*# sourceMappingURL=210206_gaia_gd.css.map */
